.header {
  margin: var(--navbar-height) 0 0;
  padding: 28px 0;
  background: var(--header-bg);
}

.title {
  color: var(--header-text);
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 100;
  margin: 15px 0;
}

.description {
  color: #fff;
  font-size: 28px;
  width: 90%;
  margin: 2px auto;
  font-weight: 500;
}

@media (min-width: 768px) {
  
  .description {
    width: 380px;
  }
}