// out: false

/*
*
* Variables
*
*/


/* Fonts 
======================*/
@font-main: 'Open Sans', sans-serif;
@font-icon: 'FontAwesome';


/* Responsive 
======================*/
@s: ~'(min-width: 768px)'; // tablet
@m: ~'(min-width: 992px)'; // desctop
@l: ~'(min-width: 1200px)'; // desctop
