// out: false

/*
*
* Variables
*
*/


/* Fonts 
======================*/
@font-main: 'Open Sans', sans-serif;
@font-icon: 'FontAwesome';


/* Colors
======================= */
@color-main: rgba(8,27,51,.8);
@color-second: #e54a35;
@color-title-border: @color-second;


/* Variables
======================== */
/* link */
@link-color: @color-main;
@link-color-hover: @color-second;
/* Icons */
@icon-size: 36px;
@icon-color: @color-second;
@icon-bg: #eeeeee;
/* Navbar */
@navbar-border: #bbbbbb;
@navbar-height: 50px;
/* Header */
@header-bg: @color-main;
@header-text: #ffffff;
/* Content */
@block-contacts-bg: #202020 url('../images/contacts.png');
@block-contacts-text: #ffffff;
@block-contacts-link: @block-contacts-text;
@block-contacts-link-hover: @link-color-hover;


/* Responsive 
======================*/
@s: ~'(min-width: 768px)'; // tablet
@m: ~'(min-width: 992px)'; // desctop
@l: ~'(min-width: 1200px)'; // desctop
