:root {
  --font-primary: 'Open Sans',
    sans-serif;
  --font-icon: 'FontAwesome';
  --font-color: #333333;

  --color-primary: rgba(8, 27, 51, .8);
  --color-secondary: #e54a35;
  --color-title-border: var(--color-secondary);
  --color-site-name: #4f4f4f;

  --link-color: var(--color-primary);
  --link-color-hover: var(--color-secondary);

  --btn-size: 50px;
  --btn-bg: var(--color-secondary);
  --btn-color: #ffffff;
  --input-size: 48px;
  --input-bg: #f1f1f1;

  --icon-size: 36px;
  --icon-bg: #eeeeee;
  --icon-bg-hover: var(--color-primary);
  --icon-color: var(--color-secondary);
  --icon-color-hover: var(--icon-bg);

  --navbar-border: #dddddd;
  --navbar-height: 80px;
  --navbar-bg: #ffffff;

  --header-bg: var(--color-primary);
  --header-text: #ffffff;

  --block-contacts-bg: #202020 url('../images/contacts.png');
  --block-contacts-text: #ffffff;
  --block-contacts-link: var(--block-contacts-text);
  --block-contacts-link-hover: var(--link-color-hover);
  --block-areas-title: var(--color-title-border);
  --block-areas-bg: #f1f1f1;
  --block-areas-border: var(--navbar-border);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--font-main);
  font-size: 14px;
  color: var(--font-color);
}

a {
  color: var(--link-color);
  font-weight: 600;
  transition: color 0.3s;
}

a:hover {
  color: var(--link-color-hover);
}
