/*
*
* Variables
*
*/


/* Fonts 
======================*/
$font-main: 'Open Sans', sans-serif;
$font-icon: 'FontAwesome';
$font-color: #333333;


/* Colors
======================= */
$color-main: rgba(8,27,51,.8);
$color-second: #e54a35;
$color-title-border: $color-second;
$color-site-name: #4f4f4f;


/* Variables
======================== */
/* Link */
$link-color: $color-main;
$link-color-hover: $color-second;
/* Input, btn */
$btn-size: 50px;
$btn-bg: $color-second;
$btn-color: #ffffff;
$input-size: 48px;
$input-bg: #f1f1f1;
/* Icons */
$icon-size: 36px;
$icon-color: $color-second;
$icon-color-hover: $icon-bg;
$icon-bg: #eeeeee;
$icon-bg-hover: $color-main;
/* Navbar */
$navbar-border: #dddddd;
$navbar-height: 80px;
$navbar-bg: #ffffff;
/* Header */
$header-bg: $color-main;
$header-text: #ffffff;
/* Content */
$block-contacts-bg: #202020 url('../images/contacts.png');
$block-contacts-text: #ffffff;
$block-contacts-link: $block-contacts-text;
$block-contacts-link-hover: $link-color-hover;
$block-areas-title: $color-title-border;
$block-areas-bg: #f1f1f1;
$block-areas-border: $navbar-border;


/* Responsive 
======================*/
$s: ~'(min-width: 768px)'; // tablet
$m: ~'(min-width: 992px)'; // desctop
$l: ~'(min-width: 1200px)'; // desctop
